/*메인화면 왼쪽 게시판 목록 CSS*/
.image {
    display: block;
    width: 100%;
    height: 100%;
}

/*Hover Slider CSS*/
.container {
    position: relative;
    width: 100%;
    height: 25%;
}
.overlay {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}
.container:hover .overlay {
    width: 100%;
    left: 0;
}
.firstText {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    white-space: nowrap;
}


/*메인화면 게시판 버튼 CSS*/
.section_Button {
    background-color: white;
    display:inline-block;
    width:100%;
    height:100%;
    margin: 0px;
    padding: 0px;
}


/*메인화면 뉴스 및 날씨 왼쪽글씨 CSS*/
.news{
    display: inline-block;
    height: 100%;
    margin-left: 1%;
    margin-right: 1%;
}
.weather{
    display: inline-block;
    height: 100%;
    margin-left: 3%;
    margin-right: 1%;
}

/*로그인 했을때 안했을때 비교하기 위함.*/
.Logined { 
    display:none;
}
.NotLogined {
    display:block;
}

/*각종 태그들*/
.title_Input {
    border: 1px solid;
    font-size: 150%;
    height: 100%;
    width: 70%;
    padding-left: 1.3%;
}
.content_Textarea{
    height: 100%;
    width: 100%;
    margin: 0px;
    resize: none;
    font-size:250%;
}
.theme_Select {
    height: 90%;
    margin-right: 8%;
}
.searchBar_TextField{
    width:50%;
    height:100%;
    background-color: white;
}

/*버튼들 hover CSS*/
.delete_Button:hover{
    cursor:pointer;
    opacity: 1;
}
.material_Button:hover{
    cursor:pointer;
    opacity: 1;
}